<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sedadurmus.yenivavi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_vaveyla"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_vaveyla_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SearchBookDetailActivity"></activity>
        <activity android:name=".SearchBookActivity" />
        <activity android:name=".PostBookActivity" />
        <activity android:name=".BookDetailActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".ReklamActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".YardimActivity" />
        <activity android:name=".AyarlarActivity" />
        <activity android:name=".KullaniciSozlesmesiActivity" />
        <activity android:name=".ProfilDuzenleActivity" />
        <activity android:name=".TakipcilerActivity" />
        <activity android:name=".GonderiActivity" />
        <activity android:name=".GorevActivity" />
        <activity android:name=".YorumlarActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/SplashTheme">

            <!-- Default Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/SplashTheme">

            <!-- Default Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:theme="@style/SplashTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat">

            <!-- Default Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGİNG_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5244554971825167~3413590380" />
    </application>

</manifest>